<% content_for :title, "Edit #{@user.full_name} - Users" %>

<!-- Header -->
<div class="header">
  <div>
    <h1 style="margin: 0; font-size: 24px;">Edit User</h1>
    <p style="margin: 5px 0 0 0; color: #666;">Update <%= @user.full_name %>'s profile</p>
  </div>
</div>

<div style="max-width: 1000px; margin: 0 auto;">
  <%= render 'form', user: @user %>
</div>